.beer-detail-scene {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 964px) {
      flex-direction: column;
    }
  }

  &__image-container {
    height: 250px;
    width: 250px;
  }

  &__image {
    height: 250px;
    width: 250px;
    object-fit: contain;
  }

  &__name, &__tagline, &__description {
    color: #545658;
  }

  &__name {
    font-weight: lighter;
    letter-spacing: 0.4em;
    text-align: center;
  }
  
  &__tagline {
    font-weight: normal;
    color: #00A4E9;
    text-align: center;
  }

  &__description {
    text-align: justify;
  }

  &__go-back {
    color: #00A4E9;
    float: right;
    font-size: 1.2em;
  }
}