.beers-list-item {
  background: #FFF;
  box-shadow: 0px 2px 22px -2px rgba(0,0,0,0.33);
  border-radius: 6px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  align-items: center;

  &__beer-icon {
    width: 60px;
    height: auto;
    margin-right: 20px;
  }
}