.dashboard {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #00b7ea;
  background: linear-gradient(135deg, #00A8F0 0%,#007FE8 100%);
  padding: 50px 20px;
  box-sizing: border-box;

  &__children-container {
    background: #F6F8FA;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0px 17px 42px 4px rgba(0,0,0,0.27);
    box-sizing: border-box;

    @media screen and (min-width: 755px) {
      width: 70%;
    }
    
    @media screen and (min-width: 1024px) {
      width: 800px;
    }
  }
}
