// Third part imports
@import "~normalize.scss/normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

html {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  height: 100%;
  display: flex;
}

body, #root {
  flex: 1;
  align-self: stretch;
  height: 100%;
}

h1, h2, h3, h5, h6 {
  font-weight: 500;
}

// Importing component styles
@import "./components/styles/Dashboard";
@import "./components/styles/BeersList";
@import "./components/styles/BeersListItem";
@import "./components/styles/BeersScene";
@import "./components/styles/BeerDetailScene";
